body {
  padding: 20px;
}
/* forms */

.form {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.form input {
  display: block;
  height: 30px;
  padding: 10px;
  margin: 10px;
}